:scope{
    --accent-bg: rgb(0, 32, 96);
    --accent-bg-rgb: 0, 32, 96;
}

.navlink-inactive{
    color: white;
}

.bg-header{
    background: var(--accent-bg);
}

footer{
    background: var(--accent-bg);
    position: fixed;
    bottom: 0;
    width: 100%;
}
