.navbar {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

footer {
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.3);
}

.personlogo {
    text-align: center;
    padding-top: 0.4em;
    height: 2.5em;
    width: 2.5em;
}

select {
    font-family: var(--bs-font-sans-serif), 'FontAwesome';
}

input, textarea, select {
    color: var(--bs-body-color) !important;
    background-color: rgb(30, 30, 35) !important;
}

fieldset:disabled input, fieldset:disabled textarea, fieldset:disabled select {
    color: var(--bs-tertiary-color)  !important;
    background-color: var(--bs-secondary-bg) !important;
}

.shadow-box {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3) !important;
}

.shadow-svg {
    box-shadow: none !important;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.3)) !important;
}

.no-border {
    border: none !important;
}

.taskcard {
    background-color: rgb(30, 30, 35);
}

.header-column {
    background-color: rgb(38, 38, 42);
}

.dropdown-menu {
    background-color: color-mix(in srgb, var(--bs-dropdown-bg), transparent 30%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
}
